<div class="col-sm-2 col-lg-4"></div>
<div ng-controller="GroupsCtrl as ctrl" class="col-sm-2 col-lg-4">
    <h1>Groups</h1>
    <p>Friends</p>
    <div ng-repeat="friend in ctrl.friends">
        <p>{{ friend.receiver_id}}</p>
    </div>
</div>