<div class="col-sm-2 col-lg-4"></div>
<div ng-controller="ProfileCtrl as ctrl" class="col-sm-8 col-lg-4 registration-page">
    <h1>Profile Page</h1>
    <form name="registrationForm" ng-submit="registrationForm.$valid && ctrl.updateUser()" novalidate="">
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email"
                   class="form-control"
                   placeholder="you@domain.com"
                   name="email"
                   type="email"
                   required
                   ng-model="ctrl.user.email"
                   ng-readonly="!ctrl.update"/>
            <div class="validation" data-ng-show="registrationForm.email.$touched || registrationForm.$submitted">
                <div data-ng-show="registrationForm.email.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Email is mandatory.
                </div>
                <div data-ng-show="registrationForm.email.$error.email">
                    <span class="glyphicon glyphicon-alert"></span>
                    Email is invalid.
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="name">Name</label>
            <input id="name"
                   class="form-control"
                   name="name"
                   type="text"
                   required
                   ng-model="ctrl.user.name"
                   ng-readonly="!ctrl.update"/>

            <div class="validation"  data-ng-show="registrationForm.name.$touched || registrationForm.$submitted">
                <div data-ng-show="registrationForm.name.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Name is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Gender</label>
            <br/>
            <input name="gender"
                   type="radio"
                   required
                   value="M"
                   ng-model="ctrl.user.gender"
                   ng-disabled="!ctrl.update"/>
            Male
            <br/>
            <input name="gender"
                   type="radio"
                   required
                   value="F"
                   ng-model="ctrl.user.gender"
                   ng-disabled="!ctrl.update"/>
            Female
            <br/>
        </div>
        <div class="form-group">
            <label for="dateOfBirth">Date of Birth</label>
            <input id="dateOfBirth"
                   class="form-control"
                   name="dateOfBirth"
                   type="date"
                   required
                   ng-model="ctrl.user.dateOfBirth"
                   ng-readonly="!ctrl.update"/>

            <div class="validation" data-ng-show="registrationForm.dateOfBirth.$touched || registrationForm.$submitted">
                <div data-ng-show="registrationForm.dateOfBirth.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Date of Birth is required.
                </div>
                <div data-ng-show="registrationForm.dateOfBirth.$invalid">
                    <span class="glyphicon glyphicon-alert"></span>
                    Invalid Date.
                </div>
                <!--<div data-ng-hide="ctrl.isAgeValid()">
                    <span class="glyphicon glyphicon-alert"></span>
                    You must be at least 18 years to register.
                </div>-->
            </div>
        </div>
        <div class="form-group">
            <label for="address">Address</label>
            <input id="address"
                   class="form-control"
                   name="address"
                   type="text"
                   required
                   ng-model="ctrl.user.address"
                   ng-readonly="!ctrl.update"/>

            <div class="validation" data-ng-show="registrationForm.address.$touched || registrationForm.$submitted">
                <div data-ng-show="registrationForm.address.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Address is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="country">Country</label>
            <input id="country"
                   class="form-control"
                   name="country"
                   type="text"
                   required
                   ng-model="ctrl.user.country"
                   ng-readonly="!ctrl.update"/>

            <div class="validation"  data-ng-show="registrationForm.country.$touched || registrationForm.$submitted">
                <div data-ng-show="registrationForm.country.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Country is required.
                </div>
            </div>
        </div>
        <div class="form-group">
            <label for="contactNumber">Contact Number</label>
            <input id="contactNumber"
                   class="form-control"
                   name="contactNumber"
                   type="text"
                   required
                   minlength="8"
                   ng-pattern="/^[0-9+( )-]*$/"
                   ng-model="ctrl.user.contactNumber"
                   ng-readonly="!ctrl.update"/>

            <div class="validation"  data-ng-show="registrationForm.contactNumber.$touched || registrationForm.$submitted">
                <div data-ng-show="registrationForm.contactNumber.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Contact Number is required.
                </div>
                <div data-ng-show="registrationForm.contactNumber.$error.minlength">
                    <span class="glyphicon glyphicon-alert"></span>
                    Contact Number must be at least 8 digits long.
                </div>
                <div data-ng-show="registrationForm.contactNumber.$error.pattern">
                    <span class="glyphicon glyphicon-alert"></span>
                    Contact Number contains invalid characters.
                </div>
            </div>
        </div>
        <div class="form-group">
            <hr/>
            <input id="edit"
                   name="edit"
                   type="button"
                   value="Edit"
                   class="btn btn-default"
                   ng-show="!ctrl.update"
                   ng-click="ctrl.update=true"/>
            <input id="submit"
                   name="submit"
                   type="submit"
                   value="Update"
                   class="btn btn-success"
                   ng-disabled="registrationForm.$invalid"
                   ng-show="ctrl.update"/>
            <input id="cancel"
                   name="cancel"
                   type="button"
                   value="Cancel"
                   class="btn btn-default"
                   ng-show="ctrl.update"
                   ng-click="ctrl.initDetails();ctrl.update=false"/>

        </div>
    </form>
</div>