<!--add friends form-->
<div class="container text-center" ng-controller="FriendCtrl as ctrl">
  <!--<div ng-show="ctrl.formAddFriends">-->
    <h2>ADD A FRIEND</h2>
    <form name="friendForm" ng-submit="friendForm.$valid && ctrl.addFriend()" novalidate autocomplete="off">
      <div class="form-group" ng-class="{ 'has-error': friendForm.friendName.$touched && friendForm.friendName.$invalid }">
        <label for="friendName">Name</label>
        <input id="friendName" class="form-control" placeholder="Enter your friend name" 
        name="friendName" type="text" required ng-model="ctrl.friends.name">
        <div class="help-block" ng-messages="friendForm.friendName.$error" ng-if="friendForm.friendName.$touched">
                <p ng-message="required">Friend Name Required</p>
        </div>
        </div>
        <!--
        <span class="validation" data-ng-show="friendForm.friendName.$touched ||  friendForm.$submitted">
          <div data-ng-show="friendForm.friendName.$error.required">
            <span class="glyphicon glyphicon-alert"></span>
                          Please enter a valid name with alphabets only.
        </div> -->
      <div class="form-group">
        <label for="contactNo">Contact Number</label>
        <input class="form-control" id="contactNo" name="contactNo" placeholder="Enter your friend contact Number" minlength="8" ng-pattern="/([0-9\s\-]{7,})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/" required ng-model="ctrl.friends.contactNo" />
      <div class="help-block" ng-messages="friendForm.contactNo.$error" ng-if="friendForm.contactNo.$touched">
                <p ng-message="required">Contact Number Required</p>
            </div>
        </div>  
      <!--
        <div class="validation"  data-ng-show="friendForm.contactNo.$touched || friendForm.$submitted">
                <div data-ng-show="friendForm.contactNo.$error.required">
                    <span class="glyphicon glyphicon-alert"></span>
                    Contact Number is required.
                </div>
                <div data-ng-show="friendForm.contactNo.$error.minlength">
                    <span class="glyphicon glyphicon-alert"></span>
                    Contact Number must be at least 8 digits long.
                </div>
                <div data-ng-show="friendForm.contactNo.$error.pattern">
                    <span class="glyphicon glyphicon-alert"></span>
                    Contact Number contains invalid characters.
                </div>
      </div> -->
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" name="email" placeholder="Enter your friend email" required ng-model="ctrl.friends.email" />
        <!--
        <div class="validation" data-ng-show="friendForm.email.$touched || friendForm.$submitted">
          <div data-ng-show="friendForm.email.$error.required">
            <span class="glyphicon glyphicon-alert">
              Please enter email
            </span>
          </div>
          <div data-ng-show="friendForm.email.$error.email">
            <span class="glyphicon glyphicon-alert">
              Email is invalid
            </span>
          </div>
        </div> -->
      </div>
      <div class="form-group">
        <label for="gender">Gender</label><br/>
        <input name="gender" type="radio" value="M" required ng-model="ctrl.friends.gender"/>Male
        <input name="gender" type="radio" value="F" required ng-model="ctrl.friends.gender"/>Female
      </div>
      <div class="form-group">
        <label for="group">Group:</label>
            <select class="form-control" id="group" name="group" required ng-model="ctrl.friends.group"> 
                <option ng-repeat="i in ctrl.currentGroups">{{ i.group }}</option>
            </select>
      </div>

        <div class="form-group">
          <label class="control-label">Select a picture to upload</label>
          <input type="file" name="fileToUpload" id="fileToUpload" class="file" />
        </div>
      <div class="form-group">
      <button type="submit" class="btn btn-success form-control">
        <i class="fa fa-plus"></i> Connect! </button>
      <!--<button type="submit" class="btn btn-success form-control" ng-click="ctrl.initForm()" /><i class="fa fa-plus"></i> Reset </button>-->
      </div>
    </form>
  <!--</div>-->
</div>
