<!--add friends form-->
<div class="container text-center" ng-controller="FriendCtrl as ctrl">
  <!--<div ng-show="ctrl.formAddFriends">-->
    <h2>ADD A FRIEND</h2>
    <form name="addFriendForm" novalidate>
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" placeholder="Enter your friend name" 
        name="name" type="text" required ng-model="ctrl.friendName">
      </div>
      <div class="form-group">
        <label for="contact">Contact Number</label>
        <input class="form-control" id="contact" name="contact" placeholder="Enter your friend contact" required ng-model="ctrl.contactNo">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" id="email" name="email" placeholder="Enter your friend email" required ng-model="ctrl.email">
      </div>
      <div class="form-group">
        <label for="gender">Gender</label>
        <input name="gender" type="radio" value="male" required ng-model="ctrl.gender"> Male</input>
        <input name="gender" type="radio" value="female" required ng-model="ctrl.gender"> Female</input>

      <div class="form-group">
        <label for="group">Group:</label>
        <select name="group" ng-model="ctrl.group" ng-options="i for i in ctrl.currentGroups"></select>
      </div>

      </div>
        <div class="form-group">
          <label class="control-label">Select a picture to upload</label>
          <input type="file" name="fileToUpload" id="fileToUpload" class="file" />
        </div>
      <div class="form-group">
      <button type="submit" class="btn btn-success form-control" 
        ng-click="ctrl.updateFriends()"><i class="fa fa-plus"></i> Connect! </button>
      <!--<button type="submit" class="btn btn-success form-control" ng-click="ctrl.initForm()" /><i class="fa fa-plus"></i> Reset </button>-->
      </div>
    </form>
  <!--</div>-->
</div>
