    <!--start of the body displays-->
    <div class="container text-center" ng-controller="HomeCtrl as ctrl">
      <!--row 1 begin-->
      <div class="row">
        <!--row 1 col 1 begin-->
        <div class="col-sm-3 well">
          <div class="well">
            <p><a href="#">My Profile</a></p>
            <img src="/../assets/images/img6.gif" class="img-circle" height="65" width="65" alt="Avatar">
          </div>
          <!--<div class="alert alert-info fade in">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">×</a>
            <p><strong>Hello! Hello!</strong></p>
            You're getting famous! People are looking at your profile. Find out who.
          </div>-->
          <div class="panel panel-default text-left">
            <div class="panel-body">
              <p>My Status</p>
              <h3>{{ctrl.myStatus}}</h3>
              <input type="text" ng-model="ctrl.updateMystatus"> 
              <button type="button" class="btn btn-default btn-sm" ng-click="ctrl.updateStatus()"> Update
                <!--<span class="glyphicon glyphicon-thumbs-up"></span> Like-->
              </button>
            </div>
          </div>

          <div class="well" align="left">
            <button type="button" class="btn btn-success" ng-click="ctrl.addFriends()" ng-show="ctrl.btnAddFriends">Add friend</button>

            <table class="table">
              <thead>
                <tr>
                  <th>My Friends</th>
                  <th>Group</th>
                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="friend in ctrl.friends2">
                    <td><a href="#">{{friend.username}}</a></td>
                    <td>{{friend.groupings[0].group_name}}</td>
                    <!--<td><a href="#">{{i.friendName}}</a></td>
                    <td>{{i.group}}</td>-->
                </tr>
              </tbody>
            </table>

          </div>
        </div>
        <!--row 1 col 1 end-->    

        <!--row 1 col 2 begin-->    

        <div class="col-sm-7">

          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default text-center">
                <div class="panel-body">  
                  <h2>So what's up? </h2>
                  <button class="btn btn-success btn-sm" type="button" ng-click="ctrl.refreshFeeds()">
                    <i class="fa fa-refresh fa-spin"></i>
                    Refresh
                  </button>
                  <!--<button type="button" class="btn btn-primary btn-lg">Group friend</button> 
                  <button type="button" class="btn btn-danger btn-lg">Unfriend</button>  -->
                </div>
              </div>
            </div>
          </div>

          <div class="well">
            <div class="row clearfix">

              <div ng-repeat="friend in ctrl.friends2">
                <!--picture-->
                <div class="col-sm-3 well">
                    <p><a href="#">{{friend.username}}</a></p>
                    <img ng-src="http://lorempixel.com/400/200/people" class="img-rounded" height="55" width="55" alt="Avatar">
                </div>

                <div class="col-sm-9 well" align="left">
                    <p>{{friend.feeds[0].create_date | date:'yyyy-MM-dd HH:mm:ss Z'}}</p>
                    <p>{{friend.feeds[0].msg}}</p>
                    <button type="button" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-thumbs-up"></span> Like
                    </button> 
                    <!--<button type="button" class="btn btn-default btn-sm">
                      <span class="glyphicon glyphicon-thumbs-down"></span> BOOO!!!
                    </button> -->
                    <br/>
                    <label>Comment:<input type="text"></label>
                    <button type="button" class="btn btn-default btn-sm">Send
                    </button>    
                </div>
              </div>
            </div>
          </div>

        </div>
        <!--row 1 col 2 end-->   
        <!--row 1 col 3 begin-->    
        <div class="col-sm-2 well">
          <div class="thumbnail">
            <p>Upcoming Events:</p>
            <img src="/../assets/images/Miharu_Miharu-Takizakura_Front_1.jpg" alt="Paris" width="400" height="300">
            <p><strong>Sakura festival @Tokyo</strong></p>
            <p>Wed 12 April 2017</p>
            <button class="btn btn-primary">Info</button>
          </div>   

          <div class="well">
            <p><a href="#">Interests</a></p>
            <p>
              <span class="label label-default">News</span>
              <span class="label label-primary">NUS-ISS</span>
              <span class="label label-success">Travel</span>
              <span class="label label-info">Sports</span>
              <span class="label label-warning">Gaming</span>
              <span class="label label-danger">Friends</span>
            </p>
          </div>

          <div class="well">
            <p>ADS</p>
          </div>
          <div class="well">
            <p>ADS</p>
          </div>
        </div>
        <!--row 1 col 3 end-->    

      </div>
      <!--row 1 end-->      
    </div>
    <!--end of the body displays-->
